<div class="uk-container uk-container-xsmall">
    <div class="uk-card uk-card-default uk-card-body uk-width-1 uk-margin-xlarge-top">
        <h1>新規タスク編集</h1>
        <%= render 'form', task: @task %>
    </div>
</div>