<div class="content">
    <div class="main">
        <h1 class="uk-heading-line uk-text-center"><span>選択してください</span></h1>
        <div class="uk-flex uk-flex-center">
            <div class="top_button">
                <a class="uk-button uk-button-default uk-button-large" href="/projects/new">プロジェクト作成</a>
            </div>
            <div class="top_button">
                <a class="uk-button uk-button-primary uk-button-large" href="/projects">タスク作成</a>
            </div>
        </div>    
    </div>
</div>